{%block title%}-About We|pesa CC wallet{%endblock}
{%block content%}
<!-- WRAPPER : begin -->
		<div id="wrapper">

			<!-- CORE : begin -->
			<div id="core" class="core-bg-1">

				<!-- PAGE HEADER : begin -->
				<div id="page-header">
					<div class="container">
						<h1>About Us</h1>
						<ul class="breadcrumbs">
							<li><a href="index.html">Home</a></li>
							<li>About Us</li>
						</ul>
					</div>
				</div>
				<!-- PAGE HEADER : begin -->

				<div class="container">

					<!-- PAGE CONTENT : begin -->
					<div id="page-content">
						<div class="various-content">

							<!-- INTRO SECTION : begin -->
							<section>

								<div class="row">
									<div class="col-sm-6">
									<h2>Wepesa Wallet</h2>
										<p><strong>A multicurrency support wallet</strong></p>

									</div>
									<div class="col-sm-6">

										<p><img src="images/about_us.jpg" alt=""></p>

									</div>
								</div>

							</section>
							<!-- INTRO SECTION : end -->

							<!-- TEAM SECTION : begin -->
							<section>

								<h2>Our Team</h2>

								<div class="row">
									<div class="col-sm-6">

										<!-- TEAM MEMBER : begin -->
										<div class="c-team-member m-has-portrait">
											<div class="member-inner">
												<p class="member-portrait"><span><img src="images/team_member_01.jpg" alt=""></span></p>
												<h4 class="member-name">Nikki Mars</h4>
												<h3 class="member-role">Front End</h3>
												<div class="member-description">
													<p>Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. </p>
												</div>
												<ul class="member-social">
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												</ul>
											</div>
										</div>
										<!-- TEAM MEMBER : end -->

									</div>
									<div class="col-sm-6">

										<!-- TEAM MEMBER : begin -->
										<div class="c-team-member m-has-portrait">
											<div class="member-inner">
												<p class="member-portrait"><span><img src="images/team_member_02.jpg" alt=""></span></p>
												<h4 class="member-name">Angela Simons</h4>
												<h3 class="member-role">Mront End</h3>
												<div class="member-description">
													<p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat.</p>
												</div>
												<ul class="member-social">
													<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
												</ul>
											</div>
										</div>
										<!-- TEAM MEMBER : end -->

									</div>
								</div>

								<hr class="c-divider m-transparent m-x-small display-none-sm">

								<div class="row">
									<div class="col-sm-6">

										<!-- TEAM MEMBER : begin -->
										<div class="c-team-member m-has-portrait">
											<div class="member-inner">
												<p class="member-portrait"><span><img src="images/team_member_03.jpg" alt=""></span></p>
												<h4 class="member-name">Tarja Lee</h4>
												<h3 class="member-role">Cront End</h3>
												<div class="member-description">
													<p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio.</p>
												</div>
												<ul class="member-social">
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
												</ul>
											</div>
										</div>
										<!-- TEAM MEMBER : end -->

									</div>
									<div class="col-sm-6">

										<!-- TEAM MEMBER : begin -->
										<div class="c-team-member m-has-portrait">
											<div class="member-inner">
												<p class="member-portrait"><span><img src="images/team_member_04.jpg" alt=""></span></p>
												<h4 class="member-name">Floor Gossow</h4>
												<h3 class="member-role">Dront End</h3>
												<div class="member-description">
													<p>Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat.</p>
												</div>
												<ul class="member-social">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
												</ul>
											</div>
										</div>
										<!-- TEAM MEMBER : end -->

									</div>
								</div>

							</section>
							<!-- TEAM SECTION : end -->

							<!-- CTA MESSAGE SECTION : begin -->
							<section>

								<!-- CTA MESSAGE : begin -->
								<div class="c-cta-message">
									<div class="row">
										<div class="col-sm-8">
											<h2>Here a title</h2>
											<p>Here a content</p>
										</div>
										<div class="col-sm-4">
											<p class="textalign-right">
												<a href="#" class="c-button">Join Wepesa For Free!</a>
											</p>
										</div>
									</div>
								</div>
								<!-- CTA MESSAGE : end -->

							</section>
							<!-- CTA MESSAGE SECTION : end -->

						</div>
					</div>
					<!-- PAGE CONTENT : end -->

				</div>

			</div>
			<!-- CORE : end -->

			<!-- BOTTOM PANEL : begin -->
			<div id="bottom-panel">
				<div class="bottom-panel-inner">
					<div class="container">
						<div class="row">
							<div class="col-md-12">

								<!-- BOTTOM TEXT : begin -->
								<div class="bottom-text various-content">

									<h3>About Wepesa</h3>
									<p>About wepesa text...</p>

								</div>
								<!-- BOTTOM TEXT : end -->

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- BOTTOM PANEL : end -->
{%endblock%}