{% block title%}| Home{%endblock%}
{%block content}
<!-- WRAPPER : begin -->
		<div id="wrapper">

			<!-- MAIN SLIDER : begin -->
			<div id="main-slider" class="m-has-hover-stop" data-interval="8000">
				<div class="slide-list">

					<!-- SLIDE 1 : begin -->
					<div class="slide slide-1 m-bg-align-right" data-label="Welcome to WEPESA" style="background-image: url( 'images/slide_01.jpg' );">
						<div class="slide-bg">
							<div class="container">
								<div class="slide-inner">
									<div class="slide-content various-content textalign-left valign-middle">

									
										<h3 style="color:#fff;background-color:#099db3;text-align:center;">WePesa Wallet is a new type of web wallet, that come with enhanced security, ease of use, multi-currency support.</h3>

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- SLIDE 1 : end -->

					<!-- SLIDE 2 : begin -->
					<div class="slide slide-2 m-bg-align-left" data-label="Join Wepesa For Free!" style="background-image: url( 'images/slide_02.jpg' );">
						<div class="slide-bg">
							<div class="container">
								<div class="slide-inner">
									<div class="slide-content various-content textalign-right valign-middle">
										<h4 style="margin-top:36px;">
											<a href="#" class="c-button m-type-2" style="background:#fff;">Join Wepesa For Free!</a>
										</h4>	
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- SLIDE 2 : end -->

					<!-- SLIDE 3 : begin -->
					<div class="slide slide-3 m-bg-align-right" data-label="New Title Here..." style="background-image: url( 'images/slide_03.jpg' );">
						<div class="slide-bg">
							<div class="container">
								<div class="slide-inner">
									<div class="slide-content various-content textalign-left valign-middle">


									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- SLIDE 3 : end -->

				</div>
			</div>
			<!-- MAIN SLIDER : end -->

			<!-- CORE : begin -->
			<div id="core">

				<!-- PAGE CONTENT : begin -->
				<div id="page-content">
					<div class="various-content">

						<!-- SERVICES SECTION : begin -->
						<section>

							<!-- SERVICE LIST : begin -->
							<div class="c-service-list m-paginated" data-items="4" data-items-desktop="4" data-items-desktop-small="3" data-items-tablet="2" data-items-mobile="1">
								<div class="container">
									<div class="service-list-inner">
										<div class="service-list-item">

											<!-- SERVICE : begin -->
											<div class="c-service">
												<h3 class="service-title"><a href="#">Multicurrency Support</a></h3>
												<div class="service-description">
													<p>It currently supports Bitcoin and Ethereum, and Z Cash currency. You can trade all currency on the same highly secure web wallet</p>
												</div>
											</div>
											<!-- SERVICE : end -->

										</div>
										<div class="service-list-item">

											<!-- SERVICE : begin -->
											<div class="c-service">
												<h3 class="service-title"><a href="#">Send Coins To Users</a></h3>
												<div class="service-description">
													<p>Send any amount of bitcoin to any other user instantly with no transaction fee and no confirmation delays.</p>
												</div>
											</div>
											<!-- SERVICE : end -->

										</div>
										<div class="service-list-item">

											<!-- SERVICE : begin -->
											<div class="c-service">
												<h3 class="service-title"><a href="#">Security</a></h3>
												<div class="service-description">
													<p>Proof of Solvency, SHA-2 SSL, AES user data encryption, 2FA on all accounts, majority of funds in cold storage.</p>
												</div>
											</div>
											<!-- SERVICE : end -->

										</div>
										<div class="service-list-item">

											<!-- SERVICE : begin -->
											<div class="c-service">
												<h3 class="service-title"><a href="#">New Title</a></h3>
												<div class="service-description">
													<p>Another Content</p>
												</div>
											</div>
											<!-- SERVICE : end -->

										</div>
									</div>
								</div>
							</div>
							<!-- SERVICE LIST : end -->

						</section>
						<!-- SERVICES SECTION : end -->

					</div>
				</div>
				<!-- PAGE CONTENT : end -->

			</div>
			<!-- CORE : end -->
			<!--WRAPPER : end -->

{%endblock}